@page
@model EsecureWebApp.Pages.Exams.Questions.IndexModel

@{
    ViewData["Title"] = "Index";
}

@* ******************************************* *@
@* ******************************************* *@

<ol class="breadcrumb">
    @* *************************************************************************** *@
    <li class="breadcrumb-item">
        <a href="#">Empresa</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#">Mantenedores</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#">Checklist</a>
    </li>
    <li class="breadcrumb-item active">
        Items de Evaluación
    </li>
    @* *************************************************************************** *@
</ol>
<div id="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->

        <div class="card card-body bg-primary text-light">
            @* *************************************************************************** *@
            <h2>Items de Evaluación</h2>
            @*<h4>Empresa: @Model.MyEmpresa.NombreFantasia </h4>*@
            @* *************************************************************************** *@
        </div>
        <hr />

        <div class="card">
            <div class="col-md-12">
                <br />
                @* *************************************************************************** *@
                <h4 class="card card-body bg-primary text-light">
                    Listado de Items Creados:
                </h4>
                @* --------------------------------------------------------------------------- *@
                <div class="container-fluid card bg-light text-dark">
                    <br />

                    <table class="table table-bordered table-striped table-hover text-dark table-responsive-md" style="width:100%" id="datata">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.QuestionList[0].TestID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.QuestionList[0].CategoryID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.QuestionList[0].QuestionID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.QuestionList[0].QuestionTxt)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.QuestionList)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TestID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CategoryID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.QuestionID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.QuestionTxt)
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <a asp-page="./Edit" asp-route-id="@item.QuestionID" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i></a>
                                            <a asp-page="./Details" asp-route-id="@item.QuestionID" class="btn btn-info btn-sm"><i class="fa fa-eye"></i></a>
                                            <a asp-page="./Delete" asp-route-id="@item.QuestionID" class="btn btn-danger btn-sm"><i class="fa fa-times"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>
                                </th>
                                <th>
                                </th>
                                <th>
                                </th>
                                <th>
                                </th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                @* *************************************************************************** *@
            </div>
            <br />
            <p>
                <div>
                    <a asp-page="./Create" class="btn btn-info btn-sm float-md-right" role="button" data-toggle="tooltip" data-placement="top" title="" data-original-title="Agregar Item">Agregar Item <i class="fa fa-plus-circle"></i></a>
                    <br />
                </div>
            </p>
        </div>
        <br />
    </div>
</div>
@* *************************************************************************** *@
<hr />
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}