@page
@*@model Bbs.Pages.Params.WorkSites.DetailsModel*@

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

@*<div>
    <h4>WorkSite</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WorkSite.WorkSiteName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkSite.WorkSiteName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorkSite.SiteID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkSite.SiteID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.WorkSite.WorkSiteID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>*@
