@page
@model EsecureWebApp.Pages.Mantenedores.Personas.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles:</h2>

<div>
    <h4>Persona</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Persona.Documento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Persona.Documento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Persona.Alias)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Persona.Alias)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Persona.PrimerNombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Persona.PrimerNombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Persona.SegundoNombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Persona.SegundoNombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Persona.ApellidoPaterno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Persona.ApellidoPaterno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Persona.ApellidoMaterno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Persona.ApellidoMaterno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Persona.FechaNacimiento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Persona.FechaNacimiento)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Persona.PersonaID">Editar</a> |
    <a asp-page="./Index">Volver</a>
</div>
