@page
@model Bbs.Pages.BbsInspects.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Inspection</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Inspection.InspectionDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inspection.InspectionDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Inspection.MyProperty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inspection.MyProperty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Inspection.PersonID1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inspection.PersonID1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Inspection.PersonID2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inspection.PersonID2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Inspection.PersonID3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inspection.PersonID3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Inspection.DivisionID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inspection.DivisionID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Inspection.SiteID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inspection.SiteID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Inspection.WorkSiteID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inspection.WorkSiteID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Inspection.InspectionID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
