@page
@model EsecureWebApp.Pages.Exams.Responses.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles:</h2>

<div>
    <h4>Response</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EstaResponse.ExaminationID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstaResponse.ExaminationID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EstaResponse.TestID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstaResponse.TestID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EstaResponse.QuestionID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstaResponse.QuestionID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EstaResponse.TimeStamp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstaResponse.TimeStamp)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.EstaResponse.ResponseID">Editar</a> |
    <a asp-page="./Index">Volver</a>
</div>
