@page
@model EsecureWebApp.Pages.Mantenedores.Faenas.CreateModel

@{
    ViewData["Title"] = "Create";
}

<ol class="breadcrumb">
    @* *************************************************************************** *@
    <li class="breadcrumb-item">
        <a href="#">Empresa</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#">Mantenedores</a>
    </li>
    <li class="breadcrumb-item active">
        Faenas
    </li>
    @* *************************************************************************** *@
</ol>
<div id="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->

        <div class="card card-body bg-primary text-light">
            @* *************************************************************************** *@
            <h2>Mantenedor Faenas</h2>
            <h4>Empresa: @Model.MyEmpresa.NombreFantasia </h4>
            @* *************************************************************************** *@
        </div>
        <hr />

        <div class="card">
            <div class="col-md-12">
                <br />
                @* *************************************************************************** *@
                <h4 class="card card-body bg-primary text-light">
                    Nueva faena:
                </h4>
                <div class="container-fluid card bg-light text-dark">
                    <br />
                    @* *************************************************************************** *@
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            @*<label asp-for="NuevaFaena.EmpresaID" class="control-label"></label>*@

                            <input asp-for="NuevaFaena.EmpresaID" value="@Model.MyEmpresa.EmpresaID" type="text" hidden="hidden" class="form-control" />
                            <span asp-validation-for="NuevaFaena.EmpresaID" class="text-danger"></span>

                        </div>
                        <div class="form-group">
                            <label asp-for="NuevaFaena.NombreFaena" class="control-label"></label>
                            <input asp-for="NuevaFaena.NombreFaena" class="form-control" />
                            <span asp-validation-for="NuevaFaena.NombreFaena" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Agregar" class="btn btn-success btn-sm" />
                        </div>
                    </form>
                    @* *************************************************************************** *@
                </div>

                <hr />
                @* *************************************************************************** *@
                <h4 class="card card-body bg-primary text-light">
                    Listado de faenas:
                </h4>

                @* --------------------------------------------------------------------------- *@
                <div class="container-fluid card bg-light text-dark">
                    <br />

                    <table class="table table-bordered table-striped table-hover text-dark table-responsive-md" style="width:100%" id="datata">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.ListaFaenas[0].NombreFaena)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ListaFaenas[0].EmpresaID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ListaFaenas[0].Timestamp)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ListaFaenas[0].Umod)
                                </th>
                                <th>
                                    Acciones
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ListaFaenas)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NombreFaena)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EmpresaID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Timestamp)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Umod)
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <a asp-page="./Edit" asp-route-emid="@item.EmpresaID" asp-route-faid="@item.FaenaID" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i></a>
                                            <a asp-page="./Details" asp-route-emid="@item.EmpresaID" asp-route-faid="@item.FaenaID" class="btn btn-sm btn-info"><i class="fa fa-eye"></i></a>
                                            <a asp-page="./Delete" asp-route-emid="@item.EmpresaID" asp-route-faid="@item.FaenaID" class="btn btn-sm btn-danger"><i class="fa fa-times"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <thead>
                            <tr>
                                <th>
                                </th>
                                <th>
                                </th>
                                <th>
                                </th>
                                <th>
                                </th>
                                <th>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <hr />
                <p>
                    <div>
                        <a asp-page="/Mantenedores/Empresas/Index" asp-route-emid="@Model.MyEmpresa.EmpresaID" role="button" class="btn btn-info btn-sm">Volver a Empresa</a>
                        <br />
                    </div>
                </p>

                @* --------------------------------------------------------------------------- *@
                <p>
                    <div>
                        @*<a asp-page="./Create" asp-route-emid="@Model.MyEmpresa.EmpresaID" class="btn btn-primary btn-sm" role="button">Agregar Plan <span class="glyphicon glyphicon-plus-sign"></span>   </a>*@
                        @*<a asp-page="/Mantenedores/Faenas/Create" asp-route-emid="@Model.MyEmpresa.EmpresaID" class="btn btn-info btn-sm float-md-right" role="button" data-toggle="tooltip" data-placement="top" title="" data-original-title="Nueva faena">Crear Faena</a>*@
                        <br />
                    </div>
                </p>
                @*FORM OR DETAILS OR CONFIRM DELETION*@
                @* --------------------------------------------------------------------------- *@
                @* *************************************************************************** *@

            </div>
        </div>
    </div>
</div>
@* *************************************************************************** *@
<hr />


@* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ *@

<hr />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
