@page
@model EsecureWebApp.Pages.Mantenedores.Direcciones.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles:</h2>

<div>
    <h4>Direccion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Direccion.EmpresaID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Direccion.EmpresaID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Direccion.ShortName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Direccion.ShortName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Direccion.Calle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Direccion.Calle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Direccion.Numeracion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Direccion.Numeracion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Direccion.Comuna)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Direccion.Comuna)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Direccion.Region)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Direccion.Region)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Direccion.Pais)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Direccion.Pais)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Direccion.DireccionID">Editar</a> |
    <a asp-page="./Index">Volver</a>
</div>
