@page
@model Bbs.Pages.Params.WebConfigurations.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>WebConfiguration</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WebConfiguration.WebConfigurationIndex)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WebConfiguration.WebConfigurationIndex)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WebConfiguration.WebConfigurationGroup)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WebConfiguration.WebConfigurationGroup)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WebConfiguration.WebConfigurationName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WebConfiguration.WebConfigurationName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WebConfiguration.WebConfigurationValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WebConfiguration.WebConfigurationValue)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.WebConfiguration.WebConfigurationID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
