@page
@*@model Bbs.Pages.Params.ObsItems.IndexModel*@

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ObsItem[0].ObsItemDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ObsItem) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ObsItemDescription)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ObsItemID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ObsItemID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ObsItemID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
