@page
@model EsecureWebApp.Pages.Mailers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles:</h2>

<div>
    <h4>MailSender</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MailSender.MailSenderFrom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MailSender.MailSenderFrom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MailSender.MailSenderTo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MailSender.MailSenderTo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MailSender.MailSenderSubject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MailSender.MailSenderSubject)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MailSender.MailSenderMessage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MailSender.MailSenderMessage)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.MailSender.MailSenderID">Editar</a> |
    <a asp-page="./Index">Volver</a>
</div>
